*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none;
}
.header{
	width: 100%;
	border-bottom: 3px solid #eeeexcc444;
}
.container{
	width: 1140px;
	margin: auto;
}
.global{
	display: flex;
	justify-content: space-between;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 13px;
}
.menu ul li {
	line-height: 60px;
	font-weight: 300;
}

.banner-content{
	display: flex;
	justify-content: space-between;
	font-size-adjust: none;
}
.image{
	font-size: 18px;
}
.poster-content h2{
	text-align: center;
}
.poster-content p{
	text-align: center;
}
.filter-content h3{
	text-align: center;
}
.filter-content p{
	text-align: center;
}
.f-hunter{
	display: grid;
	grid-template-columns: auto auto auto;
}