*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none;
}
.header{
	width: 100%;
	border-bottom: 3px solid #eeeexcc444;
}
.container{
	width: 1140px;
	margin: auto;

}
.navbar{
	display: flex;
	justify-content: space-between;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 14px;

}
.menu ul li{
      line-height: 60px;
      font-weight: 300;
}


.banner{
	width: 100%;
	padding: 60px opx;
	text-align: center;

}
.banner-content h1{
	font-size: 48px;
	color: #3f3d56;
	line-height: 1.2;
	margin-bottom: 16px;
	font-weight: 600;

}
.banner-content h1 span{
	color: #008aff;
}
.banner-content p{
	font-weight: 300;
	margin-bottom: 16px;
}
.project{
	width: 100%;
	padding-bottom: 60px;
}
.project-content{
	display: flex;
}
.left right{
	flex-basis: 50%;
}
.left{
	text-align: right;
}
.left h2{
	font-size: 42 px;
	color: red;
}

.left p{
	font-weight: 300;
	font-size: 16px;
}
.right{
	color: #3f3d56;;
	font-size: 20px;
	line-height: 1.2;

}
.left{
	margin-right: 16px;
}
.right{
	margin-left: 16px;
}
.services{
	width: 100%;
	padding-bottom: 60px;
}
.s-content{
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 22px;


}
.bg-1{
	background-color: #fdebed;
}
.bg-2{
	background-color:#ebf9f4;
}
.bg-3{
	background-color: #fff7e8;
}
.s-item{
	padding: 40px 30px;
}
.footer{
	width: 100%;
	background-color: #008aff;
	text-align: center;
	padding: 16px 0px;
}
.footer{
	color: white;
	font-weight:300 ;
	font-size: 14px;
}
.footer p span{
	font-weight: bold;
	text-transform: uppercase;
	font-size: 16px;
}